@import url('https://fonts.cdnfonts.com/css/adobe-garamond-pro-2');

* {font-family: 'Adobe Garamond Pro', sans-serif;}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}